<%- include('partials/header'); -%>

<p><% homeStartingContent %></p>

<div class="container-body">
  <p><%= homeStartingContent %></p>
  <% posts.forEach(function(post){ %>
  <div>
    <a class="post-site" href="/posts/<%=post.title%>"
      ><h1 class="post-title"><%=post.title%></h1></a
    >
    <p><%= post.publishDate %></p>
    <p><%=post.content.substring(0, 100) + " ..."%></p>
    <a class="post-site" href="/posts/<%=post.title%>">Read more</a>
  </div>
  <% }) %>
</div>
<%-include('partials/footer'); -%>
